#register-box {
    background-color: #AA3333;
    border: 4px solid #FFFFFF;
    width: 100%;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
}

.register_button {
    border: 0;
    padding: 10px 20px 10px 50px;
    background-color: #AA0000;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display: inline-block;
    background-image: url("check_icon.png");
    background-repeat: no-repeat;
    background-position: 14px 12px;
}
.register_button:hover {
    background-color: #550000;
    color: white;
    cursor: pointer;
}

.register_button#disabled {
    background-color: #888888;
    color: #DDDDDD;
    text-decoration: line-through;
}
 
.fees-row {
    margin: 3px auto;
    padding: 10px;
    background-color: #333333;
    width: 360px;
}
.fees-row:hover {
    background-color: #555555;
}
 
.fees-cell {
    display: inline-block;
    padding: 0px 0px 0px 10px;
    width: 180px;
}
.fees-total {
    background-color: #333377;
    padding: 10px 0px 10px 30px;
    width: 350px;
    border-radius: 0px;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}

p.restrictions {
    display: none;
    padding: 5px 15px;
    margin-top: 0px;
}

li.restrictions-heading {
    background-color: #FFEEEE;
    padding-left: 10px;
}

select {
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 0px 15px;
    font-size: 15px;
}

#testbox {
    border: 1px solid;
}